{% extends 'contacts/base.html' %}

{% block content %}

    <div class="w3-container w3-teal">
        <div class="w3-row">
            <div class="w3-half">
                <h1>Contact Details</h1>
            </div>
            <div class="w3-half">
                <a href="{% url 'contact_update' contact.id %}" class="w3-button w3-green w3-margin">Update</a>
            </div>
        </div>
    </div>

    <div class="w3-container">
        <ul class="w3-ul">
            <li><strong>First Name:</strong> {{ contact.first_name }}</li>
            <li><strong>Last Name:</strong> {{ contact.last_name }}</li>
            <li><strong>Email:</strong> {{ contact.email }}</li>
        </ul>
    </div>

{% endblock content %}

